// _config.scss
$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #02aab0;
// $primary-color: lightblue;
// Use the second version of primary color to try the adjustColor function.
$secondary-color: #e98db8;
